.navbar.navbar-dual.navbar-inverse.navbar-fixed-top.headroom.ontop-now.animated
  .container
    .navbar-header
      %button.navbar-toggle{:"data-toggle" => "collapse", :"data-target" =>".navbar-collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => url_for(root_path), :title => t('site.head_title')}
        %img{:src => "/images/logo.png", :alt => t('site.head_title')}
        %img.secondary{:src => "/images/logo-inverse.png", :alt => t('site.head_title')}

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li{class: active_class(start_url)}
          %a{:href => url_for(start_url)}= t('menu.start_project')
        %li{class: active_class(projects_url)}
          %a{:href => url_for(projects_url)}= t('menu.explore')

        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :"data-toggle" => "dropdown", :"data-hover" => "dropdown", :"aria-expanded" => "false"}
              %i.fa.fa-user
              = current_user.email
            %ul.dropdown-menu
              %li{class: active_class(new_project_url)}
                %a{:href => url_for(new_project_url)}= t('menu.new_project')
              %li{class: active_class(edit_user_registration_path)}
                %a{:href => url_for(edit_user_registration_path)}= t('menu.user_profile')
              %li
                = link_to t('menu.sign_out'), destroy_user_session_path, method: :delete, class: ""
        - else
          %li.dropdown{class: active_class(new_user_session_path)}
            %a.btn.btn-rounded{:href => url_for(new_user_session_path)}= t('menu.sign_in_sign_up')


