!!!
%html
%head
  %title Ecuador Solidario | Plataforma de Financiamiento Colectivo
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body.container
  %p.notice= notice
  %p.alert= alert
  = yield
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
